<%- include('header'); -%>

   <h1 class="box title"> <%= listTitle %> </h1>
    
   

   <div class="box">
      <ul class="list-group">
         <% for( let i = 0; i < newListItems.length; i++){ %>   
        
              <li class="list-group-item"> 
                 <div class="item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    <%=  newListItems[i]  %>
                 </div>
                 
               </li> 
        
          <%  } %> 
          
          <form class="item" action="/" method="post">
           
           <input class="item-input form-control" type="text" name="newItem" placeholder="New Item ">
           <button class="btn btn-primary " type="submit" name="list" value=<%=listTitle%> >Add</button>
        
        </form>
        
        </div>
           </ul>
           
   </div>
  
   
   <%- include('footer'); -%>
  
 
   
 